<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
      <div class="card card-login">
        <div class="card-header card-header-info text-center">
          <h4 class="card-title">Add new timeslot to weekly availability schedule</h4>
        </div>
        <div class="card-body">
          <%= form_with url: 'add', class: "nifty_form", remote: "true" do |f| %>
            <div class="field">
            <%= f.label :day %><br />
            <%= f.select :day, ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']%>
            </div>

            <div class="field">
            <%= f.label :time %><br />
            <%= f.time_field :time %>
            </div>

            </div>
            <div class="footer center">
            
              <%= f.submit "Add to Schedule" , name: "ADS", class: "btn btn-info"%>
              
              
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
