<div>
<%= form_tag('/search', method: :get) do %>
  What do you want to do? <%= text_field_tag :interest %>
  <%= submit_tag 'Search' %>
<% end %>
</div>

<div class="show-schedule">
<table style="width:50%">
    <tr>
        <th>Opportunities</th>
    </tr>
<% @games.each do |game| %>
    <tr>
        <td><%= game.date %></td>
        <td><%= game.start_time %></td>
        <td><%= game.end_time %></td>
        <td><%= game.interest %></td>
        <td><%= game.venue%></td>
        <td><%= game.description %></td>
    </tr>
<% end %>
</table>
</div>