<!DOCTYPE html>
<html>
  <head>
    <title>Match</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
  </head>

  <body style="background-color:#fbf7f5;">
  <% if notice %>
    <p class="alert alert-success text-center"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger text-center"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
